<div class="background-holder">

   

    <div class = "headline-container">
        <div class="headline-style-1 parallax-title">
                <h1 class="text-white">H o m e B r o i l</h1>
                <span class="sub-title text-white">Home-cooked Food On-Demand</span>

        </div>

    </div>

{% extends "site_base.html" %}

{% load i18n %}
{% load teams_tags %}

{% block head_title %}pinax-project-teams{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
   

  

    {% if ACCOUNT_OPEN_SIGNUP %}
       <!-- <div>
            <a class="btn btn-default" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
            or
            <a class="btn btn-default" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
        </div>-->
    {% endif %}

{% endblock %}
</div>