<div class="background-holder" style="">

   

    <div class = "headline-container" style="max-height:100%; overflow:hidden">
        <div class="headline-style-1 parallax-title">
                <h1 class="text-white">H o m e B r o i l</h1>
                <span class="sub-title text-white" style="text-shadow:2px 2px #000; font-size:40px; margin-top:64%" id="onDemand">Home-cooked Food On-Demand</span>


        </div>
   

    </div>

      

<div class="jumbotron">
  <h1>The open-source "Uber for Food"</h1>
  <p>This project was created to solve the problem of food waste. When you create too much of a great entree, upload it here, and let others near you buy it or pick it up for free. The vision of this project is to be a great way for people who cook at home to make additional income from their food and allow hungry people to get better food than a restaurant at better prices.<br>
    <br>
    Currently, this service is only available in Seoul, Korea. However, if you want to add your city, please reach out to <a href="mailto:hello@homebroil.com">hello@homebroil.com</a><br><br>
    
  </p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/CodeCloudMe/homebroil" target="_blank" role="button">Fork this on Github</a></p>
</div>



{% extends "site_base.html" %}

{% load i18n %}
{% load teams_tags %}

{% block head_title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
   

  

    {% if ACCOUNT_OPEN_SIGNUP %}
       <!-- <div>
            <a class="btn btn-default" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
            or
            <a class="btn btn-default" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
        </div>-->
    {% endif %}
     <div id="theCity" style="display:none">{{request.city}}</div>
    <script>
    setTimeout(function(){
          city=  $('#theCity').html()
          $('.navbar-brand').append(' | '+city)

      }, 500)


</script>
{% endblock %}
</div>