{% extends "site_base.html" %}

{% load wiki_tags %}

{% block head_title %}{{ grub.title }}{% endblock %}

{% load thumbnail %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <div class="profile-widget">
                {% if grub.photo %}
                    <img class="img-polaroid avatar hidden-phone" src="/site_media/media/{{ grub.photo }}" style="max-width:200px; max-height:200px" alt="{{ grub.title }}">
                {% endif %}

                <h2>{{ grub.title }}</h2>

                <div class="profile">
                    {% if grub.description %}
                        <div class="bio">
                            {{ grub.description|linebreaks }}
                        </div>
                    {% endif %}
                    {% if grub.affiliation %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-institution"></i>
                            </span>
                            {{ profile.affiliation }}
                        </div>
                    {% endif %}
                    {% if grub.location %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-map-marker"></i>
                            </span>
                            {{ grub.location }}
                        </div>
                    {% endif %}
                    {% if grub.website %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-external-link"></i>
                            </span>
                            <a href="{{ profile.website }}">{{ profile.website }}</a>
                        </div>
                    {% endif %}
                    {% if grub.twitter_username %}
                        <div class="item">
                            <span class="dim">
                                <i class="fa fa-twitter"></i>
                            </span>
                            <a href="https://twitter.com/{{ profile.twitter_username }}/">@{{ profile.twitter_username }}</a>
                        </div>
                    {% endif %}
                    <div class="item">
                        <span class="dim">
                            <i class="fa fa-clock-o"></i>
                            Added
                        </span>
                        {{ grub.pub_date }}
                    </div>

                    {% if request.user == grub.userId %}


                        <a href="{% url 'grubs_edit' %}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i> Edit Grub</a>
                    {% endif %}
                </div>


                <div id="madeAlso">
                <h4><a href="" class="toUser">{{grub.userId }}</a> also made</h4>

                {% for grubI in grubbers %}
                  
                  {% if grubI.userId == grub.userId %}
                  <a href="{% url 'grubs_detail' id=grubI.id %}">
                   {% if grubI.photo %}
                    <img class="img-polaroid avatar hidden-phone" src="/site_media/media/{{ grubI.photo }}" style= "max-height:200px; max-width:200px" alt="{{ grub.title }}">
                {% endif %}

                <h3>{{ grubI.title }}</h3>
                </a>

                  {% endif %}

                {% endfor %}

            </div>
            </div>
        </div>


        <div id="featured_photo">
            {% if grub.photo %}
                    <img class="img-polaroid avatar hidden-phone" src="/site_media/media/{{ grub.photo }}" style="max-width:50%; min-height:300px" alt="{{ grub.title }}">
                {% endif %}

            <br>
           <br>
            <button class="btn btn-primary">Order This Now</button>

        </div>
        <!--wiki_for profile.user as wiki -->
       
    </div>

    <script>

        setTimeout(function(){

                $('.toUser').attr('href', '/u/'+$('.toUser').text());
        }, 500);

    </script>
{% endblock %}
